tests/binutils-gdb
tests/esp-idf
tests/ulptool
tests/**/*.bin
tests/**/*.elf
tests/**/*.o
tests/**/*.ulp
tests/**/*.log
tests/**/*.pre
tests/log
tests/*.lst
tests/*.log
tests/defines*.db
demo.ulp
*.pyc
*.pyo
.DS_Store
